name: Pagy Cursor CI

on:
  push:
    branches: ['**']
  pull_request:
    branches: ['**']

jobs:
  postgres_test:
    name: Ruby ${{ matrix.ruby-version }} Test with postgresql

    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
        ports:
          - 5432:5432

    strategy:
      matrix:
        include:
          - ruby-version: 2.7
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_52.gemfile
          - ruby-version: 2.7
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_61.gemfile
          - ruby-version: 3.1
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_70.gemfile
          - ruby-version: 3.2
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_70.gemfile
      fail-fast: false
    env: ${{ matrix.env }}

    steps:
      - uses: actions/checkout@v3

      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Run Ruby Tests
        run: bundle exec rspec
        env:
          DB: postgresql
          DB_PASSWORD: postgres

  mysql_test:
    name: Ruby ${{ matrix.ruby-version }} Test with mysql

    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql
        env:
          MYSQL_PASSWORD: rootpassword
          MYSQL_ROOT_PASSWORD: rootpassword
        ports:
          - 3306:3306
        options: --health-cmd "mysqladmin ping" --health-interval 10s --health-timeout 5s --health-retries 10

    strategy:
      matrix:
        include:
          - ruby-version: 2.7
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_52.gemfile
          - ruby-version: "3.0"
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_61.gemfile
          - ruby-version: 3.1
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_70.gemfile
          - ruby-version: 3.2
            env:
              BUNDLE_GEMFILE: gemfiles/active_record_70.gemfile
      fail-fast: false
    env: ${{ matrix.env }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically

      - name: Run Ruby Tests
        run: bundle exec rspec
        env:
          DB: mysql
          DB_PASSWORD: rootpassword
